/* src/Services.css */
.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
  }
  
  .service-card {
    position: relative;
    background: #fff;
   
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .icon-container {
    font-size: 50px;
    color: #044454;
    margin-bottom: 20px;
  }
  
  h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  
 .service-card p {
    font-size: 1rem;
    color: #044454 ;
  }
  
  /* Hover effect: fill the card like filling a bottle */
  .service-card::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3bcb8b;
    z-index: -1;
    transition: top 0.5s;
  }


  h3 {
    color: #044454;
  }
  
  .service-card:hover::before {
    top: 0;
  }
.service-icon{
  font-size: 50px;
  color: #044454;

}
.service-card:hover h3{
  color: #fff;
}
.service-card:hover p{
  color: #fff;
}

.service-card:hover .service-icon{
  animation: jump 1s linear infinite;
  color: #fff;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.service-card:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}